.feature {
	padding: 2em 0;
	border-bottom: 2px solid #333;

	&:last-child {
		border: none;
		padding-bottom: 1em;
	}

	.image {
		margin-right: 2em;
	}
}

.no-flex {
	.image {
		float: left;
	}
} 

@media (max-width: 650px) {
	.feature {
		.col-md-12 {
			flex-direction: column;

			.image {
				flex-basis: 100%;
			}
		}
	}
}