footer {
	background: $green;
	border-top: 8px solid $tan;
	padding: 1em;
	margin-top: 2em;
	color: white;

	address {
		padding: .6em;
		font-style: normal;
	}

	nav {
		padding: .6em 0 .6em .6em;

		ul {
			display: inline-block;
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				line-height: 1.5em;
				margin: 0 1em;
				font-size: .8em;

				a {
					&:link, &:visited {
					color: white;
					}

					&:hover, &:active {
						color: white;
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.copyright {
		font-size: .6em;
	}
}