.hero-image {
	background: url(/sebin/f/d/homepage-hero-tai-chi-class.jpg) 50%;
	height: 380px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.hero-caption {
	background: $tan;
	padding: .5em;
	color: white;
	font-size: 1.4em;
	line-height: 1.6em;
	margin-bottom: 1em;

	.hero-caption-header {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 1.4em;
	}
}

.main-image>img {
	width: 100%;
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

.promoted-content {
	aside {
		& > img {
			width: 100%;
		} 
	}
}
