.nav-bar {
	background: $green;

	.hamburger-menu {
		color: white;
		float: right;
		padding: .5em;
		display: none;
	}

	nav {
		font-weight: 900;
		position: relative;


		ul {
			display: inline-block;
			list-style-type: none;
			padding: 0;
			margin: 0;

			li.has-dropdown {
				display: inline-block;
				margin: 0 .5em;
				padding: 0;
				text-transform: uppercase;
				position: relative;
				color: white; 

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				a {
					color: white;
					text-decoration: none;
					display: inline-block;
					padding-right: 5px;
					padding: .75em;

					i {
						display: inline-block;
						margin-left: 5px;
					}

					&:hover {
						color: $tan;
					}
				}

				.dropdown {
					position: absolute;
					left:0;
					top: 48px;
					z-index: 100;
					background-color: #333;
					display: none;
										
					li {
						display: list-item;
						margin: 0;
						border-top: 1px solid #666;

						a {
							display: inline-block;
							padding: 5px 10px;
							color: white;
							font-weight: 100;
							min-width: 15em;

							&:hover {
								color: $tan;
							} 
						}
					}

					&.active {
						display: block;
					}
				}

				&:hover {
					background-color: #333;
					color: $tan;					
				}

			}

		}
	}

	.search {

		input {
			margin: .5em 0 .5em .5em;
			padding: .25em;
			border: none;
		}

		.search-icon {
			color: white;
		}

		button {
			background-color: $tan;
			display: inline-block;
			margin-bottom: 0;
			padding: .25em 0 .25em .5em;
			text-align: center;
			width: 40px;

			&::after {
				content: '';
			}

			&:hover {
				background-color: $dark-gray;
			}
		}
	}

}

@media (max-width: 1179px) {
	.nav-bar {

		.container {
			padding: 0 5px;
		}

		nav {
			position: absolute;
			z-index: 100;
			background-color: #0f9092;
			top: 3em;
			right: 0;

			ul {
				display: none; 

				li.has-dropdown {
					display: block;
					margin: 0;

					&:hover {
						.dropdown {
							display: none;
						}
					}
				}
			}

			&.active {
				ul {
					display: block;

					li.has-dropdown {
						
						.dropdown.active {
							display: block;
							position: static;
						}
					}
				}
			}
		}



		.hamburger-menu {
			display: block;
			margin-left: .5em;
			display: flex;
			flex: 1 1 auto;
		}

		.search {

			&.pull-right {
				float: none;
				display: flex;
				flex: 1 1 auto;

				input {
					width: 100%;
				}

				button {
					margin: .5em 0;
					padding: .25em 0;
					
					&::after {
						margin: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.nav-bar {
		.container {
			padding: 0;

			nav {
				width: 100%;
			}

			.search.pull-right {

			}
		}
	}
}