.nav-bar {
	background: $green;

	.hamburger-menu {
		color: white;
		float: left;
		padding: .5em;
		display: none;
		cursor: pointer;

		span {
			font-weight: 700;
			font-size: 1.4em;
			line-height: 1.4em;
			padding-right: .5em;		
		}
	}

	nav {
		font-weight: 900;
		position: relative;

		ul {
			display: inline-block;
			list-style-type: none;
			padding: 0;
			margin: 0;

			li.has-dropdown {
				display: inline-block;
				margin: 0 .5em;
				padding: 0;
				text-transform: uppercase;
				position: relative;
				color: white; 

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				i {
					display: inline-block;
					margin-right: 5px;
					position: absolute;
					right: 5px;
					top: 15px;
					width: 10px;
				}

				a, span {
					color: white;
					cursor: pointer;
					text-decoration: none;
					display: inline-block;
					padding: .75em 1.5em .75em .75em;
					width: 100%;

					&:hover {
						color: $tan;
					}
				}

				.dropdown {
					position: absolute;
					left:0;
					top: 48px;
					z-index: 100;
					background-color: #333;
					display: none;
										
					li {
						display: list-item;
						margin: 0;
						border-top: 1px solid #666;

						a {
							display: inline-block;
							padding: 5px 10px;
							color: white;
							font-weight: 100;
							min-width: 15em;

							&:hover {
								color: $tan;
							} 
						}
					}

					&.active {
						display: block;
					}
				}

				&:hover {
					background-color: #333;
					color: $tan;			
				}

			}

		}
	}

	.search {

		input {
			line-height: 1em;
			margin: .5em 0 .5em .5em;
			padding: .45em;
			border: none;
		}

		.search-icon {
			color: white;
		}

		button {
			background-color: $tan;
			display: inline-block;
			margin-bottom: 0;
			padding: .25em 0 .25em .5em;
			text-align: center;
			width: 40px;

			&::after {
				content: '';
			}

			&:hover {
				background-color: $dark-gray;
			}
		}
	}

}

@media (max-width: 1184px) {
	.nav-bar {

		.container {
			padding: 0 5px;
		}

		nav {
			background-color: #0f9092;
			left: 0;
			position: absolute;
			top: 3em;
			z-index: 100;

			ul {
				display: none; 

				li.has-dropdown {
					display: block;
					margin: 0;
					min-width: 15em;
					border-top: 1px solid rgba(255, 255, 255, .3);
					
					&:hover {
						.dropdown {
							display: none;
						}
					}
				}
			}

			&.active {
				padding: 0 .5em .5em;

				ul {
					display: block;

					li.has-dropdown {
						
						.dropdown.active {
							display: block;
							position: static;
						}
					}
				}
			}
		}



		.hamburger-menu {
			display: block;
			display: flex;
			flex: 1 1 auto;
		}

		.search {

			&.pull-right {
				display: flex;

				input {
					width: 100%;
				}

				button {
					margin: .5em 0;
					padding: .25em 0;
					
					&::after {
						margin: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.nav-bar {
		.container {
			padding: 0;

			.hamburger-menu {
				display: block;
				margin: 0 auto;
			}

			nav {
				position: static;
				width: 100%;

				&.active {
					padding: 0;
				}
			}

			.search.pull-right {				
				width: 100%;
			}

			.search {
				input {
					margin-left: 0;
				}
			}
		}
	}
}