.floorplan {
	position: relative;
}

.flyout {
	position: absolute;
	box-shadow: 0 10px 50px #666; 
	background: white; 
	padding: 1em; 
	z-index: 100; 
	max-width: 600px;

	h2 { 
		margin-bottom: .5em;
	}

	.exit {
		position: absolute;
		right: 10px;
		top: 5px;
		color: black;
		cursor: pointer;
	}
}