#sponsorship-list {

	h2 { margin-bottom: 1em; }

	table {
		
		margin-bottom: 3em;
		table-layout: fixed;

		&:last-child {
			margin-bottom: 0;
		}

		td {
			text-align: center;

			&:first-child {
				text-align: left;
			}

			&:last-child {
				text-align: right;
			}
		}

	}

}