doctype html

html

include includes/head.pug

body 

	.container-fluid

		include includes/header.pug

		#main.row

			.col-md-12

				.container

					.row

						.col-md-8

							h1 Heading 1

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers. 

							h2 Heading 2

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers. 

							h3 Heading 3

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers.

							h4 Heading 4

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers. 

							hr

							h2 Paragraph spacing

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers.

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers.

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers.

							hr

							h2 Links and emphasis

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag <a href="#">taxidermy hoodie</a>. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke <em>godard knausgaard direct trade</em> tbh activated charcoal marfa hell of. <strong>Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway</strong> tile wayfarers.

							hr

							h2 Lists

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers.

							ol
								li Ordered list Item 1
								li Ordered list Item 2
								li Ordered list Item 3
								li Ordered list Item 4
							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers.

							ul
								li Unordered list Item 1
								li Unordered list Item 2
								li Unordered list Item 3
								li Unordered list Item 4

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers.

							hr

							h2 Buttons

							p 
								| Note that the &lt;input type="button"&gt; button and &lt;input type="submit"&gt; elements cannot be followed 
								| by a right-caret with pure CSS and simple markup.
							
							button button element text

							input(type="button" value="input button text") 

							input(type="submit" value="submit button text") 

							p 
								| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
								| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
								| humblebrag, vexillologist VHS banh mi subway tile wayfarers.

							hr

							h2 Tables

							p The following table requires no CSS classes.

							table
								thead
									tr
										th Column 1
										th Column 2
										th Column 3
								tbody
									tr
										td Cell 1
										td Cell 2
										td Cell 3
									tr
										td Cell 4
										td Cell 5
										td Cell 6
									tr
										td Cell 7
										td Cell 8
										td Cell 9

							p The following table requires the "table" class.

							table.table
								thead
									tr
										th Column 1
										th Column 2
										th Column 3
								tbody
									tr
										td Cell 1
										td Cell 2
										td Cell 3
									tr
										td Cell 4
										td Cell 5
										td Cell 6
									tr
										td Cell 7
										td Cell 8
										td Cell 9

							p The following table requires the "table" and "table-bordered" classes.

							table.table.table-bordered
								thead
									tr
										th Column 1
										th Column 2
										th Column 3
								tbody
									tr
										td Cell 1
										td Cell 2
										td Cell 3
									tr
										td Cell 4
										td Cell 5
										td Cell 6
									tr
										td Cell 7
										td Cell 8
										td Cell 9

							p The following table requires the "table" and "table-striped" classes.

							table.table.table-striped
								thead
									tr
										th Column 1
										th Column 2
										th Column 3
								tbody
									tr
										td Cell 1
										td Cell 2
										td Cell 3
									tr
										td Cell 4
										td Cell 5
										td Cell 6
									tr
										td Cell 7
										td Cell 8
										td Cell 9

							p The following table requires the "table" and "table-hover" classes.

							table.table.table-hover
								thead
									tr
										th Column 1
										th Column 2
										th Column 3
								tbody
									tr
										td Cell 1
										td Cell 2
										td Cell 3
									tr
										td Cell 4
										td Cell 5
										td Cell 6
									tr
										td Cell 7
										td Cell 8
										td Cell 9
						.col-md-4

							p TBD

		include includes/footer.pug