doctype html

html

include includes/head.pug

body 

	.container-fluid

		include includes/header.pug

		.row

			.col-md-12

				.container

					.row

						.col-md-12

							h1 North Hall Floorplan

							p Iceland plaid meh, glossier green juice cliche brunch iPhone. Forage williamsburg hell of listicle, umami offal sustainable try-hard aesthetic four loko meh subway tile flannel gluten-free. Tacos twee you probably haven't heard of them, polaroid hot chicken 90's quinoa pork belly pop-up.

							hr

							.floorplan

								script seniorExpo.pageSpecific.seniorExpoBooths.display('/dist/images/aging-expo-north-hall.svg', 800, 700);

		include includes/footer.pug