doctype html

html

include includes/head.pug

body 

	.container-fluid

		include includes/header.pug

		.row

			.col-md-12.hero-image

		.row

			.col-md-12.hero-caption

				.container

					.hero-caption-header Baltimore County Senior Expo
					p You should probably go.

		.container 
		
			#main.row

				.col-md-12 

						h2 Woke pinterest subway tile DIY beard

						p 
							| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
							| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
							| humblebrag, vexillologist VHS banh mi subway tile wayfarers. Thundercats squid prism, kombucha edison 
							| bulb la croix raw denim trust fund ugh vaporware williamsburg irony banh mi etsy knausgaard. 
						
						p
							| Small batch kombucha pop-up, tumeric copper mug hexagon fam roof party activated charcoal YOLO beard lyft 
							| disrupt iceland. Helvetica butcher vegan letterpress chartreuse crucifix.

			.row

				.col-md-12
					hr

			.row

				aside.col-md-4.col-xs-12
					img(src="/dist/images/grumpy-cat.jpg" width="100%" height=80)
					h3 Message from the executive
					p
						| Small batch kombucha pop-up, tumeric copper mug hexagon fam roof party activated charcoal YOLO beard lyft 
						| disrupt iceland. Helvetica butcher vegan letterpress chartreuse crucifix.
					
				aside.col-md-4.col-xs-12
					img(src="/dist/images/grumpy-cat.jpg" width="100%" height=80)
					h3 Message from the executive
					p
						| Small batch kombucha pop-up, tumeric copper mug hexagon fam roof party activated charcoal YOLO beard lyft 
						| disrupt iceland. Helvetica butcher vegan letterpress chartreuse crucifix.
					
				aside.col-md-4.col-xs-12
					img(src="/dist/images/grumpy-cat.jpg" width="100%" height=80)
					h3 Message from the executive
					p
						| Small batch kombucha pop-up, tumeric copper mug hexagon fam roof party activated charcoal YOLO beard lyft 
						| disrupt iceland. Helvetica butcher vegan letterpress chartreuse crucifix.					
			
			.row

				.col-md-12
					hr

			section.sponsors.row

				.col-md-2 SPONSOR
				.col-md-2 SPONSOR
				.col-md-2 SPONSOR
				.col-md-2 SPONSOR
				.col-md-2 SPONSOR
				.col-md-2 SPONSOR

		include includes/footer.pug
