doctype html

html

	head

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='../dist/css/master.min.css', rel='stylesheet')

	body

		.container

			header

				.row

					.col-md-2.col-xs-12

						img(src='')
						|  LOGO

					.col-md-9.col-xs-10

						div BALTIMORE COUNTY SENIOR EXPO
						div OCTOBER 26 AND 27 | MARYLAND STATE FAIRGROUNDS

					.col-md-1.col-xs-2

						div

							a(href='#')
							img(src='')

						div

							a(href='#')
							img(src='')
				.row

					nav

			section.hero

				.row HERO

			section.main

				.row
					.col-md-8 MAIN CONTENT
					.col-md-4 SIDE NAV

				.row
					aside.col-md-4 ASIDE
					aside.col-md-4 ASIDE
					aside.col-md-4 ASIDE

			section.sponsors
				.row
					.col-md-3 SPONSOR
					.col-md-3 SPONSOR
					.col-md-3 SPONSOR
					.col-md-3 SPONSOR

			footer
				.row
					.col-md-6
					.col-md-6
						nav