doctype html

html

include includes/head.pug

body 

	.container-fluid

		include includes/header.pug

		.row

			.col-md-12

				.container

					.row.feature

						.col-md-12.flex

							.image
								img(src="/dist/images/grumpy-cat.jpg" height="200")

							.content
								h3 The Caribbean Pirate Band
								p 
									| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
									| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
									| humblebrag, vexillologist VHS banh mi subway tile wayfarers. Thundercats squid prism, kombucha edison 
									| bulb la croix raw denim trust fund ugh vaporware williamsburg irony banh mi etsy knausgaard. 
								p
									a(href="#") Learrrn More

					.row.feature.flex.flex-row

						.col-md-12.flex

							.image.flex.flex-column.flex-25
								img(src="/dist/images/grumpy-cat.jpg" height="200")

							.content.flex.flex-column
								h3 The Caribbean Pirate Band
								p 
									| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
									| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
									| humblebrag, vexillologist VHS banh mi subway tile wayfarers. Thundercats squid prism, kombucha edison 
									| bulb la croix raw denim trust fund ugh vaporware williamsburg irony banh mi etsy knausgaard. 
								p
									a(href="#") Learrrn More

					.row.feature.flex.flex-row

						.col-md-12.flex

							.image.flex.flex-column.flex-25
								img(src="/dist/images/grumpy-cat.jpg" height="200")

							.content.flex.flex-column
								h3 The Caribbean Pirate Band
								p 
									| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
									| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
									| humblebrag, vexillologist VHS banh mi subway tile wayfarers. Thundercats squid prism, kombucha edison 
									| bulb la croix raw denim trust fund ugh vaporware williamsburg irony banh mi etsy knausgaard. 
								p
									a(href="#") Learrrn More

					.row.feature.flex.flex-row

						.col-md-12.flex

							.image.flex.flex-column.flex-25
								img(src="/dist/images/grumpy-cat.jpg" height="200")

							.content.flex.flex-column
								h3 The Caribbean Pirate Band
								p 
									| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
									| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
									| humblebrag, vexillologist VHS banh mi subway tile wayfarers. Thundercats squid prism, kombucha edison 
									| bulb la croix raw denim trust fund ugh vaporware williamsburg irony banh mi etsy knausgaard. 
								p
									a(href="#") Learrrn More

					.row.feature.flex.flex-row

						.col-md-12.flex

							.image.flex.flex-column.flex-25
								img(src="/dist/images/grumpy-cat.jpg" height="200")

							.content.flex.flex-column
								h3 The Caribbean Pirate Band
								p 
									| Pug tilde cardigan sustainable, selfies twee hashtag taxidermy hoodie. Woke pinterest subway tile DIY 
									| beard, quinoa bespoke godard knausgaard direct trade tbh activated charcoal marfa hell of. Quinoa irony 
									| humblebrag, vexillologist VHS banh mi subway tile wayfarers. Thundercats squid prism, kombucha edison 
									| bulb la croix raw denim trust fund ugh vaporware williamsburg irony banh mi etsy knausgaard. 
								p
									a(href="#") Learrrn More

		include includes/footer.pug