footer.row

	.container
		.row
			.col-md-6
				.row
					.col-md-2
						img(src="/dist/images/county-seal.png")
					.col-md-10
						address
							| Baltimore County Department of Aging
							br
							| 611 Central Avenue
							br
							| Towson MD, 21204
							
			.col-md-6
				nav.pull-right
					ul
						li 
							a(href="#") About Us
						li
							a(href="#") Contact Us
						li
							a(href="#") Privacy Policy
						li
							a(href="#") Terms and Conditions