doctype html

html

	head

		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
		link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,600i,900" rel="stylesheet")
		link(href='/dist/css/master.min.css' rel='stylesheet')
		link(href='/dist/css/home.min.css' rel='stylesheet')

		script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous")
		script(src="/dist/js/master.min.js")

	body

		.container-fluid

			header.row

				.col-md-12

					.container

						.row.masthead

							.col-sm-12

								.logo
									img(src="/dist/images/logo-header.png")

								.date 
									| OCTOBER 26 AND 27
									br
									span MARYLAND STATE FAIRGROUNDS

								.social
									div
										a(href='#')
											img(src="/dist/images/social-facebook.png")
									div
										a(href='#')
											img(src="/dist/images/social-email.png")

					.row

						.col-md-12.nav-bar
							
							.container

								.hamburger-menu
									i.fa.fa-bars.fa-2x

								nav.pull-left
										
									ul
										li.has-dropdown
											a(href="#") 
												| Music and Fitness
												i.fa.fa-caret-right
											ul.dropdown
												li
													a(href="#") Menu Option 1
												li
													a(href="#") Menu Option 2
												li
													a(href="#") Menu Option 3
												li
													a(href="#") Menu Option 4

										li.has-dropdown
											a(href="#") 
												| Events and Services
												i.fa.fa-caret-right
											ul.dropdown
												li
													a(href="#") Menu Option 1
												li
													a(href="#") Menu Option 2
												li
													a(href="#") Menu Option 3
												li
													a(href="#") Menu Option 4

										li.has-dropdown
											a(href="#") 
												| Admission and Travel
												i.fa.fa-caret-right
											ul.dropdown
												li
													a(href="#") Menu Option 1
												li
													a(href="#") Menu Option 2
												li
													a(href="#") Menu Option 3
												li
													a(href="#") Menu Option 4

										li.has-dropdown
											a(href="#") 
												| Exhibitors
												i.fa.fa-caret-right
											ul.dropdown
												li
													a(href="#") Menu Option 1
												li
													a(href="#") Menu Option 2
												li
													a(href="#") Menu Option 3
												li
													a(href="#") Menu Option 4

								.search.pull-right
									input(type="text" id="search-box" aria-label="Search" placeholder="Search")
									i(class="fa fa-search search-icon")