header.row

	.col-md-12

		.container

			.row.masthead

				.col-sm-12

					.logo
						a(href="/dist/index.html")
							img(src="/dist/images/logo-header.png") 

					.date-address 
						| October 4 and 5, 2017
						br
						span MARYLAND STATE FAIRGROUNDS
						br
						| 220 York Road, Lutherville-Timonium, MD 21093

					.social
						div
							button.no-arrow.reverse
								i.fa.fa-facebook(aria-hidden="true")
						div
							button.no-arrow.reverse
								i.fa.fa-envelope(aria-hidden="true")

		.row

			.col-md-12.nav-bar
				
				.container

					.hamburger-menu
						i.fa.fa-bars.fa-2x

					nav.pull-left
							
						ul
							li.has-dropdown
								a(href="#") 
									| Something
									i.fa.fa-caret-right
								ul.dropdown
									li
										a(href="#") Menu Option 1
									li
										a(href="#") Menu Option 2
									li
										a(href="#") Menu Option 3
									li
										a(href="#") Menu Option 4

							li.has-dropdown
								a(href="#") 
									| Something
									i.fa.fa-caret-right
								ul.dropdown
									li
										a(href="#") Menu Option 1
									li
										a(href="#") Menu Option 2
									li
										a(href="#") Menu Option 3
									li
										a(href="#") Menu Option 4

							li.has-dropdown
								a(href="#") 
									| Something
									i.fa.fa-caret-right
								ul.dropdown
									li
										a(href="#") Menu Option 1
									li
										a(href="#") Menu Option 2
									li
										a(href="#") Menu Option 3
									li
										a(href="#") Menu Option 4

							li.has-dropdown
								a(href="#") 
									| Something
									i.fa.fa-caret-right
								ul.dropdown
									li
										a(href="#") Menu Option 1
									li
										a(href="#") Menu Option 2
									li
										a(href="#") Menu Option 3
									li
										a(href="#") Menu Option 4

							li.has-dropdown
								a(href="#") 
									| Something
									i.fa.fa-caret-right
								ul.dropdown
									li
										a(href="#") Menu Option 1
									li
										a(href="#") Menu Option 2
									li
										a(href="#") Menu Option 3
									li
										a(href="#") Menu Option 4

							li.has-dropdown
								a(href="#") 
									| Something
									i.fa.fa-caret-right
								ul.dropdown
									li
										a(href="#") Menu Option 1
									li
										a(href="#") Menu Option 2
									li
										a(href="#") Menu Option 3
									li
										a(href="#") Menu Option 4

					.search.pull-right
						input(type="text" id="search-box" aria-label="Search" placeholder="Search")
						button
							i(class="fa fa-search search-icon")