doctype html

html

	head

		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
		link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,600i,900" rel="stylesheet")
		link(href='/dist/css/master.min.css' rel='stylesheet')
		link(href='/dist/css/home.min.css' rel='stylesheet')

	body

		.container-fluid

			header.row

				.col-md-12

					.container

						.row

							.col-md-3.col-xs-12

								img(src="/dist/images/grumpy-cat.jpg" width=250 height=80)

							.col-md-8.col-xs-10

								div BALTIMORE COUNTY SENIOR EXPO
								div OCTOBER 26 AND 27 | MARYLAND STATE FAIRGROUNDS

							.col-md-1.col-xs-2.social

								div

									a(href='#')
										img(src="/dist/images/grumpy-cat.jpg" width=32 height=32)

								div

									a(href='#')
										img(src="/dist/images/grumpy-cat.jpg" width=32 height=32)

					

					.row

						.col-md-12.nav-bar
							
							.container

								nav
									ul
										li 
											a(href="#") Music and Fitness
										li
											a(href="#") Events and Services
										li
											a(href="#") Admission and Travel
										li
											a(href="#") Exhibitors

								.search.pull-right
									input(type="text" id="search-box" aria-label="Search" placeholder="Search")
									i(class="fa fa-search search-icon")