button, input[type="button"], input[type="submit"] {
	display: block;
	margin-bottom: 20px;
	border: none;
	background: $green;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	padding: .5em 1em;

	&:after {
		font-family: 'FontAwesome';
		content: "\f0da";
		color: $tan;
		margin-left: .5em;
	}

	&:hover {
		background: $tan;
	}

	&:hover:after {
		color: white;
	}

	&.reverse {
		background: $tan;

		&:hover {
			background: $green;
		}
	}

	&.no-arrow {
		&:after {
			content: "";
			margin-left: 0;
		}
	}

	span.screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}