h1, h2, h3, h4 {
	font-family: $main-font;
	line-height: 1em;
	margin-bottom: .25em;
}

h1 {
	font-size: 2.5em;
	font-weight: 900;
	color: $tan;
}

h2 {
	font-size: 1.8em;
	font-weight: 900;
	color: $tan;
}

h3 {
	font-size: 1.2em;
	font-weight: 900;
	color: $tan;
}